.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 179, 128, 0.5);
  -webkit-clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
          clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
  z-index: -1;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../../../public/balcsipart.jpg");
  background-color: #363636;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.container .clipped {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: white;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 25vmin;
}
.container .clipped h1,
.container .clipped h4 {
  width: 100%;
  text-align: center;
}
.container .clipped h4 {
  font-weight: normal;
}
.container .clipped h1 {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  height: 100px;
  font-family: "Island Moments", cursive;
}
.container .clipped h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  width: auto;
  height: 100px;
  overflow-y: hidden;
  margin-left: 3vmin;
}
.container .clipped h1 span div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 500px;
  justify-content: flex-end;
}
.container .clipped h1 span div div {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 0 3vmin;
}
.container .clipped h1 span div div p {
  font-family: "Island Moments", cursive;
  font-size: 100px;
}
.container .clipped h1 span div div:last-child {
  margin-bottom: -400px;
  animation-name: szovegtolas;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.container .clipped h4 {
  font-size: 16px;
  width: 80%;
}
.container .clipped .sep {
  height: 1px;
  width: 60%;
  background-color: white;
  margin: 8vmin 0;
}
.container .clipped .data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  height: 100%;
}
.container .clipped .data div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.container .clipped .data div svg {
  width: 5vmin;
  font-weight: bold;
}
.container .clipped .data div p {
  font-size: 20px;
  padding-left: 1vmin;
}
.container .clipped .data div:first-child {
  justify-content: flex-end;
  padding-right: 3vmin;
}
.container .clipped .data div:last-child {
  justify-content: flex-start;
  padding-left: 3vmin;
}
.container .pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

@keyframes szovegtolas {
  0% {
    margin-bottom: -400px;
  }
  25% {
    margin-bottom: -200px;
  }
  50% {
    margin-bottom: 0px;
  }
  75% {
    margin-bottom: -200px;
  }
  100% {
    margin-bottom: -400px;
  }
}/*# sourceMappingURL=page.module.css.map */