@import "../../../uniform/style.module";

.container {
  @include centerDiv(row);
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($accent1, 0.5);
    clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../../../public/balcsipart.jpg");
    background-color: #363636;
    background-blend-mode: multiply;
    @include pic();
    z-index: -2;
  }

  .clipped {
    @include centerDiv(column);
    color: white;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 25vmin;

    h1,
    h4 {
      width: 100%;
      text-align: center;
    }

    h4 {
      font-weight: normal;
    }

    h1 {
      font-size: 100px;
      text-align: center;
      font-weight: bold;
      @include centerDiv(row);
      height: 100px;
      font-family: "Island Moments", cursive;

      span {
        @include centerDiv(column);
        width: auto;
        height: 100px;
        overflow-y: hidden;
        margin-left: 3vmin;

        div {
          @include centerDiv(column);
          height: 500px;
          justify-content: flex-end;

          div {
            height: 100px;
            @include centerDiv(column);
            padding: 0 3vmin;

            p {
              font-family: "Island Moments", cursive;
              font-size: 100px;
            }

            &:last-child {
              margin-bottom: -400px;
              animation-name: szovegtolas;
              animation-timing-function: ease-in-out;
              animation-fill-mode: both;
              animation-duration: 15s;
              animation-iteration-count: infinite;
            }
          }
        }
      }
    }

    h4 {
      font-size: 16px;
      width: 80%;
    }

    .sep {
      height: 1px;
      width: 60%;
      background-color: white;
      margin: 8vmin 0;
    }

    .data {
      @include centerDiv(row);
      height: 100%;

      div {
        @include centerDiv(row);

        svg {
          width: 5vmin;
          font-weight: bold;
        }

        p {
          font-size: 20px;
          padding-left: 1vmin;
        }

        &:first-child {
          justify-content: flex-end;
          padding-right: 3vmin;
        }

        &:last-child {
          justify-content: flex-start;
          padding-left: 3vmin;
        }
      }
    }
  }

  .pageContainer {
    @include centerDiv(row);
    flex-wrap: wrap;
  }
}

@keyframes szovegtolas {
  0% {
    margin-bottom: -400px;
  }

  25% {
    margin-bottom: -200px;
  }

  50% {
    margin-bottom: 0px;
  }

  75% {
    margin-bottom: -200px;
  }

  100% {
    margin-bottom: -400px;
  }
}
