@import "../../../csscomponent/apartmanoldalak/apartman.style";

@include ApartmanOldalStyle();

.heroSection {
  @include centerDiv(row);
  height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;

  .title {
    @include centerDiv(column);
    justify-content: flex-start;
    padding: 0 5vmin;
    padding-top: 5vmin;
    background-color: $accent1;
    width: 30%;
    height: 100vh;
    box-shadow: 7px 0px 19px 3px rgba($accent1, 0.75);

    h1 {
      font-size: 40px;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: 600;
    }

    h4 {
      color: white;
      font-weight: 400;
      margin-top: 40%;
      text-align: justify;
    }
  }

  .heroImg {
    width: 100%;
    background-image: url("../../../public/lellehaz.jpg");
    background-color: #363636;
    background-blend-mode: multiply;
    @include pic();
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
  }
}