@import "../../uniform/style.module";

.container {
    @include centerDiv(column);
    width: 40%;
    background-color: $main;
    padding: 1rem 2rem;
    padding-bottom: 2rem;

    h1 {
        @include MyTitle(30px);
        color: white;
        margin: 0;

        &::after,
        &::before {
            display: none;
        }

    }

    .data {
        @include centerDiv(row);
        margin: .5rem 0;
        align-items: flex-end;


        svg {
            width: 2rem;
            color: white;
            margin-right: 1rem;
        }

        div {
            @include centerDiv(column);

            label {
                color: white;
                font-size: 12px;
                width: 100%;
                text-align: left;
            }

            p {
                padding: .5rem;
                padding-bottom: 0;
                border-bottom: 1.5px solid white;
                color: white;
                width: 100%;
                text-align: left;
            }

        }
    }
}