$main: #2343F2;
$accent1: #00B380;
$accent2: #00A8BB;


@mixin centerDiv($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: $dir;
}

@mixin pic() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}