$main: #DAA06D;
$bg: #2F4858;
$accent1: #FFEACE;

@mixin centerDiv($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: $dir;
}

@mixin pic() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}