$main: #0066FF;
$bg: #002233;
$accent1: #FF876E;

@mixin centerDiv($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: $dir;
}

@mixin pic() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}