@import "../../../../uniform/style.module";

.ap1 {
    @include ApartmanImage();

    &:nth-child(1) {
        background-image: url("../../../../public/apartman/1/Balatonlelle_Nádor_1-es_Fürdőszoba.jpg");
    }

    &:nth-child(2) {
        background-image: url("../../../../public/apartman/1/Balatonlelle_Nádor_1-es_Konyha.jpg");
    }

    &:nth-child(3) {
        background-image: url("../../../../public/apartman/1/Balatonlelle_Nádor_1-es_Konyha2.jpg");
    }

    &:nth-child(4) {
        background-image: url("../../../../public/apartman/1/Balatonlelle_Nádor_1-es_Szoba1.jpg");
    }

    &:nth-child(5) {
        background-image: url("../../../../public/apartman/1/Balatonlelle_Nádor_1-es_Szoba2.jpg");
    }

    &:nth-child(6) {
        background-image: url("../../../../public/apartman/1/Balatonlelle_Nádor_1-es_Szoba2_.jpg");
    }

    &:nth-child(7) {
        background-image: url("../../../../public/apartman/1/Balatonlelle_Nádor_1-es_WC.jpg");
    }
}

.ap2 {
    @include ApartmanImage();

    &:nth-child(1) {
        background-image: url("../../../../public/apartman/2/Balatonlelle_Nádor_2-es_Fürdőszoba.jpg");
    }

    &:nth-child(2) {
        background-image: url("../../../../public/apartman/2/Balatonlelle_Nádor_2-es_Fürdőszoba2.jpg");
    }

    &:nth-child(3) {
        background-image: url("../../../../public/apartman/2/Balatonlelle_Nádor_2-es_Konyha.jpg");
    }

    &:nth-child(4) {
        background-image: url("../../../../public/apartman/2/Balatonlelle_Nádor_2-es_Szoba.jpg");
    }
}

.ap3 {
    @include ApartmanImage();

    &:nth-child(1) {
        background-image: url("../../../../public/apartman/3/Balatonlelle_Nádor_3-as_Fürdőszoba.jpg");
    }

    &:nth-child(2) {
        background-image: url("../../../../public/apartman/3/Balatonlelle_Nádor_3-as_Konyha.jpg");
    }

    &:nth-child(3) {
        background-image: url("../../../../public/apartman/3/Balatonlelle_Nádor_3-as_Nappali.jpg");
    }

    &:nth-child(4) {
        background-image: url("../../../../public/apartman/3/Balatonlelle_Nádor_3-as_Szoba1.jpg");
    }

    &:nth-child(5) {
        background-image: url("../../../../public/apartman/3/Balatonlelle_Nádor_3-as_WC.jpg");
    }
}

.ap4 {
    @include ApartmanImage();

    &:nth-child(1) {
        background-image: url("../../../../public/apartman/4/Balatonlelle_Nádor_4-es_Fürdőszoba.jpg");
    }

    &:nth-child(2) {
        background-image: url("../../../../public/apartman/4//Balatonlelle_Nádor_4-es_Konyha.jpg");
    }

    &:nth-child(3) {
        background-image: url("../../../../public/apartman/4/Balatonlelle_Nádor_4-es_Konyha2.jpg");
    }

    &:nth-child(4) {
        background-image: url("../../../../public/apartman/4/Balatonlelle_Nádor_4-es_Szoba1.jpg");
    }

    &:nth-child(5) {
        background-image: url("../../../../public/apartman/4/Balatonlelle_Nádor_4-es_Szoba2.jpg");
    }

    &:nth-child(6) {
        background-image: url("../../../../public/apartman/4/Balatonlelle_Nádor_4-es_WC.jpg");
    }
}