@import "../../uniform/style.module";

.container {
  @include centerDiv(column);

  .heroSections {
    @include centerDiv(column);
    align-items: flex-start;
    height: 100vh;
    background-image: url("../../public/narancslemente.jpg");
    @include pic();
    justify-content: flex-end;
    padding-bottom: 1rem;

    .heroElements {
      @include centerDiv(column);
      width: 50%;
      border: 2px solid $main;
      padding: 2rem 1rem;
      position: relative;
      border-right: 0;
      margin-left: 5rem;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 20%;
        width: 2px;
        background-color: $main;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 20%;
        width: 2px;
        background-color: $main;
      }

      h1,
      p {
        color: white;
        width: 100%;
        text-align: left;
      }

      h1 {
        font-size: 50px;
        margin-bottom: 1rem;

        span {
          color: $main;
        }
      }

      a {
        width: 100%;
        text-decoration: none;
        color: white;
        text-decoration: underline;
        font-style: italic;
      }
    }

    .apartmans {
      @include centerDiv(row);
      padding: 1rem;
      margin-top: 3rem;

      .apartman {
        @include centerDiv(column);
        background-color: $main;
        color: white;
        width: 60%;
        padding: 1.5rem 1rem;
        margin: 2rem 1rem;
        position: relative;
        z-index: 10;
        border: none;

        &::after {
          content: "";
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          top: 1rem;
          left: 1rem;
          border-bottom: 2px solid white;
          border-right: 2px solid white;
          transition: all 0.6s;
        }

        &:hover {
          cursor: pointer;

          &::after {
            top: 0rem;
            left: 0rem;
          }
        }

        h1 {
          font-size: 25px;
        }

        p {
          font-style: italic;
          width: 80%;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
  }

  .apartmansDetailed {
    @include centerDiv(column);
    padding: 5rem 0;

    .apartmanDetailed {
      @include centerDiv(column);
      padding: 1rem;
      color: $bg;

      .intro {
        @include centerDiv(row);
        padding-left: 6rem;

        .description {
          padding: 1rem 3rem;
          margin-left: 5rem;
          @include centerDiv(column);

          h1 {
            width: 100%;
            font-size: 50px;
            text-align: center;
            color: $main;
          }

          .sep {
            margin: 3rem 0;
          }

          p {
            text-align: center;
            width: 100%;
            padding-bottom: 3rem;
          }

          button {
            @include MyButton();
          }
        }
      }

      .details {
        @include centerDiv(row);
        padding-top: 7rem;
        padding-right: 5rem;

        .services {
          @include centerDiv(column);



          .service {
            @include centerDiv(row);
            padding: 1rem;
            background-color: $main;
            width: 60%;
            justify-content: flex-start;

            &:first-child {
              padding-top: 2rem;
            }

            &:last-child {
              padding-bottom: 2rem;
            }

            svg {
              width: 1.5rem;
              color: white;
              margin-right: .5rem;
            }

            p {
              color: white;
            }
          }
        }

        .interiors {
          @include centerDiv(column);
          padding: 1rem 3rem;
          padding-right: 0;
        }
      }
    }

    .sep {
      width: 60%;
      height: .1rem;
      position: relative;
      background-color: $main;
      margin: 10rem 0;

      &::after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        z-index: 10;
        top: calc(50% - .55rem);
        left: calc(50% - .55rem);
        border: .1rem solid $main;
      }
    }
  }
}

.pic {
  background-image: url("../../public/lellehazdark.jpeg");
  @include pic();
  width: 30rem;
  height: 15rem;
  position: relative;
  float: left;
  transition: all .6s;

  &:nth-child(1) {
    background-image: url("../../public/naplemente.jpeg")
  }
}


@media only screen and (max-width: 1000px) {
  .container .heroSections {
    @include centerDiv(row);
    justify-content: flex-start;
    padding: 0;

    .apartmans {
      display: none;
    }
  }

}

@media only screen and (max-width: 750px) {
  .container .apartmansDetailed .apartmanDetailed .intro {
    padding-left: 3rem;
  }

  .container .apartmansDetailed .apartmanDetailed .details {
    padding-right: 3rem;

    .services .service {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 710px) {
  .container .heroSections .heroElements h1 {
    font-size: 35px;
  }

  .container {
    .apartmansDetailed {
      .apartmanDetailed {

        .intro,
        .details {
          flex-direction: column;
          padding: 0;
        }

        .intro {
          .description {
            padding: 0;
            margin: 0;
            margin-top: 8rem;
          }
        }
      }
    }
  }
}