.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.container .heroSections {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  background-image: url("../../public/naplemente.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
.container .heroSections .heroElements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  width: 50%;
  border: 2px solid #daa06d;
  padding: 2rem 1rem;
  position: relative;
  border-right: 0;
  margin-left: 5rem;
}
.container .heroSections .heroElements::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 20%;
  width: 2px;
  background-color: #daa06d;
}
.container .heroSections .heroElements::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20%;
  width: 2px;
  background-color: #daa06d;
}
.container .heroSections .heroElements h1,
.container .heroSections .heroElements p {
  color: white;
  width: 100%;
  text-align: left;
}
.container .heroSections .heroElements h1 {
  font-size: 50px;
  margin-bottom: 1rem;
}
.container .heroSections .heroElements h1 span {
  color: #daa06d;
}
.container .heroSections .heroElements a {
  width: 100%;
  text-decoration: none;
  color: white;
  text-decoration: underline;
  font-style: italic;
}
.container .heroSections .apartmans {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding: 1rem;
  margin-top: 3rem;
}
.container .heroSections .apartmans .apartman {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: #daa06d;
  color: white;
  width: 60%;
  padding: 1.5rem 1rem;
  margin: 2rem 1rem;
  position: relative;
  z-index: 10;
  border: none;
}
.container .heroSections .apartmans .apartman::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 1rem;
  left: 1rem;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transition: all 0.6s;
}
.container .heroSections .apartmans .apartman:hover {
  cursor: pointer;
}
.container .heroSections .apartmans .apartman:hover::after {
  top: 0rem;
  left: 0rem;
}
.container .heroSections .apartmans .apartman h1 {
  font-size: 25px;
}
.container .heroSections .apartmans .apartman p {
  font-style: italic;
  width: 80%;
  text-align: center;
  margin-top: 1rem;
}
.container .apartmansDetailed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 5rem 0;
}
.container .apartmansDetailed .apartmanDetailed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding: 1rem 5rem;
  color: #2f4858;
  padding-left: 8rem;
}
.container .apartmansDetailed .apartmanDetailed .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.container .apartmansDetailed .apartmanDetailed .intro .description {
  padding: 1rem 3rem;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.container .apartmansDetailed .apartmanDetailed .intro .description h1 {
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: #daa06d;
}
.container .apartmansDetailed .apartmanDetailed .intro .description .sep {
  width: 50%;
  height: 1px;
  background-color: #daa06d;
  margin: 3rem 0;
}
.container .apartmansDetailed .apartmanDetailed .intro .description p {
  text-align: center;
  width: 100%;
  padding-bottom: 3rem;
}
.container .apartmansDetailed .apartmanDetailed .intro .description button {
  background-color: transparent;
  border: none;
  position: relative;
  padding: 1rem 4rem;
  color: #daa06d;
  transition: all 0.6s;
}
.container .apartmansDetailed .apartmanDetailed .intro .description button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 19px 3px rgba(218, 160, 109, 0.75);
  transition: all 0.6s;
}
.container .apartmansDetailed .apartmanDetailed .intro .description button:hover {
  color: white;
}
.container .apartmansDetailed .apartmanDetailed .intro .description button:hover::after {
  background-color: #daa06d;
  transform: skewX(-10deg);
}

.pic {
  background-image: url("../../public/lellehazdark.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30rem;
  height: 15rem;
  position: relative;
  float: left;
  transition: all 0.6s;
}
.pic:nth-child(1) {
  background-image: url("../../public/naplemente.jpeg");
}/*# sourceMappingURL=page.module.css.map */